<div class="nav-container">
  <ul class="nav-titles">
    <li *ngFor="let item of tabs; let i = index" [ngClass]="{'active': activeTab === i + 1}">
      <a class="title-page" (click)="setActiveTab(i + 1)">{{item.title}}</a>
    </li>
  </ul>
</div>

<div class="steps-body" [ngClass]="{'has-bg': activeTab === 1}">

  <div class="container-card" *ngIf="activeTab === 1">
    <ngx-exh-edit-general [curRole]="role" [data]="exhibition" [exhId]="currentId" (exhUpdate)="getExhData(currentId)"></ngx-exh-edit-general>
  </div>

  <div class="container-card" *ngIf="activeTab === 2">
    <ngx-exh-edit-artworks [curRole]="role" [users]="exhibition?.members" [data]="exhibition?.artworks"
                           [creator]="exhibition?.admin" [exhId]="currentId" (exhUpdate)="getExhData(currentId)"></ngx-exh-edit-artworks>
  </div>

  <div class="container-card" *ngIf="activeTab === 3">
    <ngx-exh-edit-photos [curRole]="role" [data]="exhibition?.images" [exhId]="currentId" (exhUpdate)="getExhData(currentId)"></ngx-exh-edit-photos>
  </div>

  <div class="container-card" *ngIf="activeTab === 4">
    <ngx-exh-edit-notifications [exh]="exhibition" [data]="exhibition?.history" [curRole]="role" (exhUpdate)="getExhData(currentId)"></ngx-exh-edit-notifications>
  </div>

  <div class="container-card" *ngIf="activeTab === 5">
    <ngx-exh-edit-members [curRole]="role"
                          [data]="{fromBulk: exhibition.fromBulk, members: exhibition.members, admins: exhibition.admins, admin: exhibition.admin}"
                          [exhId]="currentId" (exhUpdate)="getExhData(currentId)"></ngx-exh-edit-members>
  </div>

</div>