
@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaDemiC.eot');
  src: local('../../../assets/fonts/Futura-Book/Futura Demi Cyrillic'), local('FuturaDemiC'),
  url('../../../assets/fonts/Futura-Book/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaDemiC.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaMediumC.eot');
  src: local('../../../assets/fonts/Futura-Book/Futura Medium Cyrillic'), local('FuturaMediumC'),
  url('../../../assets/fonts/Futura-Book/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaMediumC.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaLightC-Italic.eot');
  src: local('Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'),
  url('../../../assets/fonts/Futura-Book/FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaLightC-Italic.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaLightC-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaMediumC-Italic.eot');
  src: local('Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'),
  url('../../../assets/fonts/Futura-Book/FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaMediumC-Italic.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaMediumC-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaLightC.eot');
  src: local('Futura Light Cyrillic'), local('FuturaLightC'),
  url('../../../assets/fonts/Futura-Book/FuturaLightC.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaLightC.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaDemiC-Italic.eot');
  src: local('Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'),
  url('../../../assets/fonts/Futura-Book/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaDemiC-Italic.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaDemiC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaBookC-Italic.eot');
  src: local('Futura Book Italic Cyrillic'), local('FuturaBookC-Italic'),
  url('../../../assets/fonts/Futura-Book/FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaBookC-Italic.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaBookC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../../../assets/fonts/Futura-Book/FuturaBookC.eot');
  src: local('Futura Book Cyrillic'), local('FuturaBookC'),
  url('../../../assets/fonts/Futura-Book/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Futura-Book/FuturaBookC.woff') format('woff'),
  url('../../../assets/fonts/Futura-Book/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
