$color-fg: #000;
$color-fg-input-highlight: #94655B;
$color-fg-highlight: #98675D;
$color-fg-border-item: #231816;
//$color-fg2-highlight: #fdc600;
$color-fg2-highlight: #98675D;

$color-fg-border: #dadfe6;
$color-fg-submenu-text: #d8d8d8;

$color-fg-disabled: rgba(0, 0, 0, 0.6);
