<div class="search-block" *ngIf="!viewMode">

  <form #searchForm="ngForm">
    <div class="input-block">
      <input nbInput fullWidth type="text" ngModel #search="ngModel" name="search">
      <button class="search-btn" (click)="send(searchForm)"><i class="icon-search"></i></button>
    </div>
    <div class="add clear" *ngIf="searchForm.value.search" (click)="send(searchForm, true)">
      <span class="icon-cancel"></span>Clear search
    </div>
  </form>
</div>


<div class="container-block">
  <ul class="list-artstorages row">
    <li class="col-6">
      <div class="item empty-art">
        <div class="left">
          <i class="icon-art-storage"></i>
        </div>
        <div class="right">
          <div class="wrap">
            <p class="desc">
              Here you can create storages and add description
              with location of all places where you store or have
              artworks. This could be any place for example
              room no., shelf no. or drawer.
            </p>
            <button class="custom-btn custom-btn-primary-filled" (click)="openModal(linkModal)"><i class="icon-ic_plus"></i> Create art storage</button>
          </div>
        </div>
      </div>
    </li>
    <li *ngFor="let storage of artStorages; let i = index;" class="col-6">
      <div class="item">
        <div class="artworks-block" [routerLink]="['/pages/art-storages/', storage?._id]">
          <div class="artworks"
               [ngStyle]="(storage.artworks && storage.artworks.length > 0) ? {'background-image': 'url(' + storage.artworks[storage.artworks.length - 1].image + ')',
                             'transform': storage.artworks[storage.artworks.length - 1].rotation} : ''"
               [ngClass]="{'above': (storage.artworks ? (storage.artworks?.length > 1 ? storage.artworks[storage.artworks?.length - 1]?.image : storage.artworks[0]?.image ) : ''),
                             'need-transform': (storage.artworks ? storage.artworks[storage.artworks?.length - 1]?.rotation : '')}"></div>
          <div class="count"><span>{{storage.artworks?.length || '0'}}</span></div>
        </div>
        <div class="info">
          <h5 class="title" [routerLink]="['/pages/art-storages/', storage._id]">{{storage.title}}</h5>
          <p class="address">Address: <span>{{storage.address}}</span></p>
          <p class="description">{{storage.description}}</p>
        </div>
        <div class="edit-block" [ngClass]="{'cancel': storage.editMode}" *ngIf="!viewMode">
          <span class="status" [ngClass]="{'icon-cancel': storage.editMode, 'icon-dot-3': !storage.editMode}"
                (click)="storage.editMode = !storage.editMode"></span>

          <div class="actions" [ngClass]="{'show': storage.editMode}">
            <div class="edit" (click)="actionItem('edit', storage, linkModal)" title="Edit">
              <i class="icon-pencil-2"></i>
            </div>
            <div class="move" (click)="openModal(artworksModal, storage, i)" title="Add artworks">
              <i class="icon-folder-add"></i>
            </div>
            <div class="remove" (click)="actionItem('remove', storage, removeModal)" title="Delete">
              <i class="icon-trash"></i>
            </div>
          </div>
        </div>
        <div class="mask" [ngClass]="{'selected': selectedStorage ? (storage._id === selectedStorage._id) : ''}"
             *ngIf="viewMode" (click)="selectStorage(storage)"></div>
      </div>
    </li>
  </ul>

  <nb-spinner *ngIf="showSnipper" [message]="''"></nb-spinner>
</div>


<ng-template #linkModal let-data let-ref="dialogRef">
  <form #formStorage="ngForm">
    <nb-card>
      <nb-card-header>{{currentStorage?._id ? 'Edit' : 'Add'}} a storage</nb-card-header>
      <nb-card-body>
        <div class="form-control-group">
          <input nbInput fullWidth type="text" class="input-full-width input-md input-rectangle" name="title"
                 placeholder="Title"
                 [ngModel]="currentStorage?.title" #title="ngModel" required>
          <input *ngIf="currentStorage?._id" type="hidden" name="id" [ngModel]="currentStorage?._id" #id="ngModel">
        </div>
        <div class="form-control-group">
          <input nbInput fullWidth type="text" class="input-full-width input-md input-rectangle" name="address"
                 placeholder="Address"
                 [(ngModel)]="currentStorage.address" #address="ngModel"
                 ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event, 'address', formStorage)">

          <input nbInput type="hidden" [(ngModel)]="formStorage.value.address" #cityBirth="ngModel" name="cityBirth">
        </div>
        <div class="form-control-group">
          <textarea nbInput fullWidth [ngModel]="currentStorage?.description" #description="ngModel"
                    name="description" placeholder="Description"></textarea>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="custom-btn custom-btn-primary-empty" (click)="ref.close()">
          Cancel
        </button>
        <button class="custom-btn custom-btn-primary-filled"
                (click)="createStorage(formStorage, ref)"
                [disabled]="!formStorage.valid">
          {{formStorage.value.id ? 'Edit' : 'Create'}}
        </button>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-template>


<ng-template #removeModal let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete storage</nb-card-header>
    <nb-card-body class="delete-modal">
      <p class="description">
        All artworks located in this storage will be unlinked with this storage.
        <br> Do you wish to move them to another storage now?
      </p>
      <div class="icon"></div>
    </nb-card-body>
    <nb-card-footer>
      <button class="custom-btn custom-btn-primary-empty" (click)="ref.close()">Cancel</button>
      <button class="custom-btn custom-btn-primary-filled" (click)="deleteStorage(currentStorage, ref)">Delete</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #artworksModal let-data let-ref="dialogRef">
  <nb-card class="artworks-modal">
    <nb-card-header>
      <p class="title">
        {{editionsMode ? 'Which editions do you want to add?' : 'Select artworks'}}
        <span class="icon-cancel" (click)="ref.close()"></span>
      </p>
      <div class="search-block" *ngIf="!editionsMode">
        <form #searchArtwork="ngForm">
          <div class="input-block">
            <input nbInput fullWidth type="text" ngModel #search="ngModel" name="search">
            <button class="search-btn" (click)="send(searchArtwork)"><i class="icon-search"></i></button>
          </div>
          <div class="add clear" *ngIf="searchArtwork.value.search" (click)="send(searchArtwork, true)">
            <span class="icon-cancel"></span>Clear search
          </div>
        </form>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-artworks *ngIf="artworks && !editionsMode" [link]="paginationLink" [maxPage]="maxPage" [curPage]="curPage"
                    [data]="artworks" [showMode]="true" [pointedArtworks]="currentStorage?.pointedArtworks"
                    (needUpdate)="getArtworks($event)" (selectedItems)="selectArtworks($event)"
                    (emitPage)="pageChanged($event)"></ngx-artworks>

      <ngx-editions-list *ngIf="editionsMode" [storage]="currentStorage" [artworks]="artworkWithEditions"
                       (selectedEditions)="checkedEditions($event)"></ngx-editions-list>
    </nb-card-body>
    <nb-card-footer>
      <button class="custom-btn custom-btn-primary-empty" (click)="ref.close()">Cancel</button>
      <button class="custom-btn custom-btn-primary-filled"
              (click)="addArtworks(currentStorage, ref)" *ngIf="!editionsMode">
        Add artworks
      </button>
      <button class="custom-btn custom-btn-primary-filled"
              (click)="chooseEditions(currentStorage, ref)" *ngIf="editionsMode">
        Choose
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>