<h4 class="title-tab">{{'ADDING_PROFILE.TITLES.ADD_PHOTOS' | translate}}</h4>

<div class="row">
  <div class="col-4">
    <p>Add profile photo</p>
    <div class="file-container profile-image">
      <div class="icon-user"></div>
      <input type="file" (change)="photoChange($event, 'profileFileUrl')" accept="image/gif, image/jpeg, image/png"/>
      <div class="temp-image" *ngIf="avatar && avatar.url"
           [ngStyle]="{'background-image': 'url(' + avatar?.url + ')', 'transform': avatar?.rotation}"
           [ngClass]="{'need-transform': avatar?.rotation}"></div>
      <nb-spinner *ngIf="showSnipperAvatar" [message]="''"></nb-spinner>
    </div>
    <div *ngIf="avatar && avatar.name" class="file-name">{{avatar.name}}</div>
  </div>

  <div class="col-8">
    <p>Add banner photo</p>

    <div class="banner-block">
      <div class="file-container banner-image">
        <div class="icon-camera"></div>
        <input type="file" (change)="photoChange($event, 'bannerFileUrl')" accept="image/gif, image/jpeg, image/png"/>
      </div>
      <div class="temp-image" *ngIf="banner && banner.url"
           [ngStyle]="{'background-image': 'url(' + banner?.url + ')', 'transform': banner?.rotation}"
           [ngClass]="{'need-transform': banner?.rotation}" ></div>
      <nb-spinner *ngIf="showSnipperBanner" [message]="''"></nb-spinner>
    </div>
    <div *ngIf="banner && banner.name" class="file-name">{{banner.name}}</div>
  </div>
</div>

<div class="button-block">
  <button class="custom-btn custom-btn-primary-empty back" (click)="setActiveTab(activeTab - 1)">Back</button>
  <button class="custom-btn custom-btn-primary-filled next"
          [disabled]="filesInProgress"
          (click)="sendData()">Save</button>
</div>