@import '../../styles/variables';

:host {
  display: block;
  position: relative;
  margin-top: -2.22rem;
  margin-left: -2.2rem;
  margin-right: -2.2rem;
  padding-bottom: 2.5rem;
  min-height: 700px;
}
.empty-state {
  text-align: center;
  position: relative;
  margin-top: 10%;

  .icon {
    background: url("../../../../assets/images/ic_empty_state.svg") no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 155px;
    height: 115px;
    margin-bottom: .5rem;
  }
}
.add {
  outline: none;
}
.search-block {
  form {
    width: 65%;
    margin-right: 2em;
  }

  .input-block {
    width: 100%;
  }
}
.actions-block {
  display: inline-block;
  line-height: 37px;

  i {
    display: inline-block;
    color: $color-fg;
    transition: all .25s;
    margin: 0 .3em;

    &.active,
    &:hover {
      cursor: pointer;
      color: $color-fg-highlight;
    }
  }
}
.container-block {
  width: 94%;
  max-width: 1130px;
  margin: 2rem auto;
}
.remove-mode {
  display: inline-block;
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
  background: $color-fg;
  color: #fff;
  width: 30px;
  line-height: 30px;
  transition: .25s all;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 555;

  &:hover {
    cursor: pointer;
    background: $color-fg-highlight;
  }
}

.artworks-list {
  list-style: none;
  padding-left: 0 !important;

  li {
    margin-bottom: 1.5rem;

    &.selected {
      .box {
        box-shadow: 0 0 0 8px $color-fg2-highlight;
      }

      .box-check {
        border-color: rgba(0,0,0,0) !important;
      }

      .check {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .check {
    color: $color-fg2-highlight;
    transition: all .25s;
    font-size: 2em;
    left: -1px;
    top: -1px;
    position: relative;
    line-height: 28px;

    &::before {
      margin: 0;
    }
  }

  .box {
    background: #fff;
    box-shadow: 0 2px 12px 0 #dfe3eb;
    border-radius: 4px;
    transition: all .25s;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);

      .image-block {
        &::after,
        .more,
        .custom-btn {
          opacity: 1;
          visibility: visible;
        }

        .box-check {
          border-color: rgba(255,255,255, .7);
        }
      }
      .mask {
        opacity: .4;
      }
    }

    .image-block {
      &::after,
      .more,
      .custom-btn {
        opacity: 0;
        visibility: hidden;
      }

      .box-check {
        border-color: rgba(0,0,0,0);
      }
    }
  }

  &.grid {
    .mask {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 9;

      &::after {
        content: '\e81a';
        font-family: fontello;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 120px;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, .5);
      }
    }
    .empty-card {
      height: 381px;
      max-width: none;

      .desc {
        top: -17px;
        position: relative;
      }
    }
    .bg {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 99;
      position: absolute;
    }
  }

  .image-block {
    background-color: $color-fg-border;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      padding-bottom: 70%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, .5);
    }

    .custom-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      border-color: #fff;
      z-index: 999;
    }

    .box-check {
      border: 1px solid rgba(255,255,255, .7);
      cursor: pointer;
      border-radius: 50%;
      transition: all .25s;
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 999;
      width: 28px;
      height: 28px;
    }

    .more {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: rgba(255,255,255, .7);
      transition: all .25s;
      z-index: 999;
      font-size: 1.5em;

      &:hover {
        color: #fff;
      }
    }
  }

  .info {
    padding: 1rem 1.5rem;
    position: relative;
    min-height: 132px;
    z-index: 999;

    .place {
      position: absolute;
      background: $color-fg;
      color: #fff;
      padding: .3rem .5rem;
      top: 0;
      transform: translateY(-50%);
      left: 1.5rem;
    }

    h5 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 1rem;
    }
  }

  .tags {
    overflow: auto;
    width: auto;
    white-space: nowrap;
    padding: .3rem;

    p {
      background: #fff;
      display: inline-block;
      box-shadow: 0 0 6px 0 #dfe3eb;
      border-radius: 18px;
      padding: .3rem .9rem;
      margin-bottom: .3rem;
      transition: all .25s;
      color: $color-fg;
    }

    p + p {
      margin-left: .6rem;
    }
  }

  .date {
    margin-bottom: .5rem;
  }

  .more {

    &.cancel {
      right: 2rem;

      .status {
        font-size: 30px;
      }
    }
  }
  .status {
    color: #fff;
    transition: all .25s;
    font-size: 25px;

    &:hover {
      cursor: pointer;
      color: $color-fg-highlight;
    }
  }
  .actions {
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
    transition-delay: .03s;

    &.show {
      opacity: 1;
      visibility: visible;

      .edit {
        left: -50px;
        top: -23px;
      }
      .move {
        //left: -29px;
        //top: 31px;
        left: -35px;
        top: 2px;
      }
      .remove {
        //left: 26px;
        //top: 56px;
        left: 3px;
        top: 43px;
      }
    }

    div {
      display: inline-block;
      font-size: 1em;
      text-align: center;
      border-radius: 50%;
      background: $color-fg;
      color: #fff;
      width: 30px;
      line-height: 30px;
      transition: .25s all;
      position: absolute;
      left: 5px;
      top: 5px;

      &:hover {
        cursor: pointer;
        background: $color-fg-highlight;
      }
    }
  }
}


.artworks-list.list {
  table {
    width: 100%;

    tr {
      outline: none;
    }

    tr td:not([class*='pl']) {
      color: $color-fg;
    }

    tr:hover td:not([class*='pl']) {
      cursor: pointer;
      color: $color-fg-highlight;
    }
  }

  nb-checkbox {
    margin-left: 1em;

    label {
      padding: 0;
    }
  }

  .image {
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
  }
}

.actions {
  button {
    margin-left: 1rem;
  }
}

.view-box {
  text-align: right;
  margin-bottom: 1rem;
}
.view-types {
  display: inline-block;

  div {
    background: #fff;
    padding: .3rem .2rem;
    display: inline-block;
    margin-left: .5rem;
    box-shadow: 0 2px 4px 0 #dfe3eb;

    i {
      transition: all .25s;
    }

    &.active i {
      color: $color-fg2-highlight;
    }

    &:hover i {
      cursor: pointer;
      color: $color-fg-highlight;
    }
  }
}

.delete-modal {
  text-align: center;
  max-height: 100%;

  .description {
    text-align: center;
    margin-bottom: 2rem;
  }
}

/deep/ .cdk-overlay-pane nb-dialog-container nb-card-body,
/deep/ .cdk-overlay-pane nb-dialog-container nb-card-footer {
  padding: 1.5rem 8rem;
  min-width: 730px;
}

.porfolios-modal {
  margin: auto;
  min-width: 1000px;
  max-height: 100%;

  nb-card-header  {
    background: $color-fg;
    color: #fff;

    span {
      float: right;
      transition: all .25s;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }

  nb-card-body {
    padding-left: 1rem;
    padding-right: 1rem;
    max-height: 500px;
    overflow: auto;
  }

  .search-block {
    padding: 0;
    border: none;
    background: none;

    form,
    .input-block {
      width: 100%;
    }
  }
}

.drop-list {
  position: relative;
  display: inline-block;

  .list {
    transition: all .3s;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    list-style: none;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    top: 146%;
    width: 185px;

    &::before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 8px solid #fff;
      position: absolute;
      top: -8px;
      left: 50%;
      margin-left: -7px;
    }

    .title {
      color: $color-fg;
      font-weight: 500;
      margin-left: .5em;
    }

    li {

      & + li {
        border-top: 1px solid $color-fg-border;
      }
      &.active {
        i,
        span {
          color: $color-fg-highlight;
        }
      }
      &:hover:not([class*="active"]) {
        i, span {
          color: $color-fg;
          cursor: pointer;
        }
      }
      i {
        color: lighten($color-fg, 60%);
        transition: all .25s;
      }
      span {
        margin-left: .4em;
        color: lighten($color-fg, 45%);
        transition: all .25s;
      }
    }
  }

  &:hover {
    .list {
      opacity: 1;
      visibility: visible;
    }
  }
}

.icon-filter,
.drop-list {
  width: 41px;
  border: 2px solid #ddd;
  border-radius: 6px;
  text-align: center;
}
.icon-filter {
  margin: 0;
}
.drop-list {
  margin-left: .6em;
}

.artwork-table {

  tbody tr {
    transition: all .35s;
  }

  tbody tr:hover {
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    transform: scale(1.01);

    .actions {
      opacity: 1;
      visibility: visible;
    }
  }
}