@import '../../../common/styles/variables';

:host {
  display: block;
  position: relative;
  margin-top: -2.5rem;
  margin-left: -2.2rem;
  margin-right: -2.2rem;
  padding-bottom: 2.5rem;
  min-height: 700px;
}

.search-block {
  padding: 1.5rem 2.5rem;
  border-top: 1px solid #bbb;
  background: #fff;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  form {
    width: 60%;
    float: left;
    position: relative;
  }
  .input-block {
    position: relative;

    .search-btn {
      position: absolute;
      right: .5rem;
      top: 50%;
      border: 0;
      background: none;
      font-size: 20px;
      transform: translateY(-50%);
      outline: none;

      &:hover {
        cursor: pointer;
        color: $color-fg-highlight;
      }
    }
  }
  .add-storage {
    float: right;
  }
}

.container-block {
  padding: 2.5rem;
}
.empty-state {
  text-align: center;
  position: relative;
  margin-top: 10%;

  .icon {
    background: url("../../../../assets/images/ic_empty_state.svg") no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 155px;
    height: 115px;
    margin-bottom: .5rem;
  }
}
.add {
  clear: both;

  &:hover {
    color: $color-fg-highlight;
    cursor: pointer;

    span {
      background: $color-fg-highlight;
    }
  }

  span {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    background: $color-fg;
    color: #fff;
    width: 35px;
    line-height: 35px;
    transition: .25s all;
  }
}
.container-block {
  position: relative;
}

.artworks-modal,
.artstorages-modal {
  margin: auto;
  min-width: 1000px;
  max-width: 80%;
  max-height: 100%;

  nb-card-header  {
    background: $color-fg;
    color: #fff;

    span {
      float: right;
      transition: all .25s;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  nb-card-body {
    padding-left: 1rem;
    padding-right: 1rem;
    max-height: 500px;
    overflow: auto;
  }

  .search-block {
    padding: 0;
    border: none;
    background: none;

    form,
    .input-block {
      width: 100%;
    }
  }
}

.editions-artworks {
  width: 100%;
  max-width: 545px;
  margin: auto;
  padding: 1.5rem 2rem;

  & + .editions-artworks {
    margin-top: 2rem;
  }

  .number {
    border: 1px solid $color-fg-highlight;
    border-radius: 10px;
    padding: .1rem .5rem;
    width: 3rem;
    text-align: center;
    color: $color-fg;
    background: #fff;
    display: inline-block;
    margin-right: .6rem;
  }

  nb-checkbox /deep/ label.customised-control {
    padding-right: .5rem;
  }

  .sizes {
    display: inline-block;
  }

  .editions-copy + .editions-copy {
    margin-top: .5rem;
  }
}