<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="coming-soon flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <i class="icon icon-ic_contacts-1"></i>
          <h2 class="title">Coming soon</h2>
          <p class="desc">Educations is about to launch pretty soon.</p>
          <button [routerLink]="'/pages/artworks/all'" type="button" class="custom-btn btn-block custom-btn-primary-empty">
            Back to Artworks
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>