
.icon-home:before { content: '\e800'; } /* '' */
.icon-chat-inv:before { content: '\e801'; } /* '' */
.icon-doc:before { content: '\e802'; } /* '' */
.icon-art-gallery:before { content: '\e803'; } /* '' */
.icon-archive:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-cancel-2:before { content: '\e807'; } /* '' */
.icon-left-open-mini:before { content: '\e808'; } /* '' */
.icon-down-open-mini:before { content: '\e809'; } /* '' */
.icon-right-open-mini:before { content: '\e80a'; } /* '' */
.icon-cancel-1:before { content: '\e80b'; } /* '' */
.icon-up-open-mini:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-ic_commissions:before { content: '\e80f'; } /* '' */
.icon-ic_communication:before { content: '\e810'; } /* '' */
.icon-ic_exhibition:before { content: '\e811'; } /* '' */
.icon-ic_file-storage:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-pencil-1:before { content: '\e814'; } /* '' */
.icon-pencil-2:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-folder-add:before { content: '\e817'; } /* '' */
.icon-ok-circle:before { content: '\e818'; } /* '' */
.icon-ic_artstorage-2:before { content: '\e819'; } /* '' */
.icon-ic_collections-1:before { content: '\e81a'; } /* '' */
.icon-ic_artworks:before { content: '\e81b'; } /* '' */
.icon-location:before { content: '\e81c'; } /* '' */
.icon-location-1:before { content: '\e81d'; } /* '' */
.icon-th-large:before { content: '\e81e'; } /* '' */
.icon-cancel:before { content: '\e81f'; } /* '' */
.icon-location-2:before { content: '\e820'; } /* '' */
.icon-filter:before { content: '\e821'; } /* '' */
.icon-exchange-1:before { content: '\e822'; } /* '' */
.icon-download:before { content: '\e823'; } /* '' */
.icon-upload:before { content: '\e824'; } /* '' */
.icon-ic_cv:before { content: '\e825'; } /* '' */
.icon-ic_templates:before { content: '\e826'; } /* '' */
.icon-ic_contacts:before { content: '\e827'; } /* '' */
.icon-ic_settings:before { content: '\e828'; } /* '' */
.icon-ic_cog_solid:before { content: '\e829'; } /* '' */
.icon-th-list:before { content: '\e82a'; } /* '' */
.icon-plus:before { content: '\e82b'; } /* '' */
.icon-ic_calendar:before { content: '\e82c'; } /* '' */
.icon-ic_trash:before { content: '\e82d'; } /* '' */
.icon-location-museum:before { content: '\e82e'; } /* '' */
.icon-ic_templates-1:before { content: '\e82f'; } /* '' */
.icon-ic_contacts-1:before { content: '\e830'; } /* '' */
.icon-dot:before { content: '\e831'; } /* '' */
.icon-gall:before { content: '\e832'; } /* '' */
.icon-dot-3:before { content: '\e833'; } /* '' */
.icon-trash-empty:before { content: '\e834'; } /* '' */
.icon-trash-1:before { content: '\e835'; } /* '' */
.icon-ic_plus:before { content: '\e836'; } /* '' */
.icon-hide:before { content: '\e83f'; } /* '' */
.icon-shield:before { content: '\e840'; } /* '' */
.icon-visibility:before { content: '\e841'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */