<div class="adding-exh">
  <div class="wrapper">
    <h4>Add past an exhibition</h4>

    <form [formGroup]="pastFormExhibition">
      <div class="form-control-group">
        <!--<nb-select placeholder="Type"-->
                   <!--(selectedChange)="setFormValue($event, 'type')">-->
          <!--<nb-option *ngFor="let type of types" [value]="type.val">{{type.title}}</nb-option>-->
        <!--</nb-select>-->

        <ngx-select placeholder="Type" [items]="types" optionValueField="val" optionTextField="title"
                    [noAutoComplete]="true" (select)="setFormValue($event, 'type')">
        </ngx-select>
      </div>

      <div class="form-control-group">
        <input nbInput fullWidth type="text" formControlName="title" placeholder="Title *" required>
      </div>

      <div class="form-control-group">
        <input nbInput fullWidth type="text" placeholder="Gallery name or place of exhibition *" formControlName="place" required>
      </div>

      <div class="form-control-group width-50">
        <input nbInput fullWidth type="text" placeholder="City *" formControlName="city" required>
      </div>

      <div class="form-control-group width-50">
        <input nbInput fullWidth type="text" placeholder="Country *" formControlName="country" required>
      </div>

      <div class="form-control-group dynamic-wrapper width-50">
        <input nbInput fullWidth placeholder="Year *" [owlDateTime]="dt1" readonly [max]="currYear" [needChange]="changeYear"
               ngxDateView formControlName="from" required>
        <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
        <owl-date-time #dt1 [pickerType]="'calendar'" [startView]="'multi-years'"
                       (yearSelected)="selectDate(dt1, 'from', $event)"></owl-date-time>
      </div>

      <div class="button-block">
        <button class="custom-btn custom-btn-primary-empty back" [routerLink]="'/pages/exhibitions'">Cancel</button>
        <button class="custom-btn custom-btn-primary-filled next" (click)="sendForm(pastFormExhibition)"
                [disabled]="!pastFormExhibition.valid">Add</button>
        <div class="link-wrap">
          <a [routerLink]="['/pages/exhibitions/add']">Add future exhibition</a>
        </div>
      </div>

      <div class="links-wrap">
        <div class="left">
          <div><a href="/assets/Past-exhib-template.xlsx"><i class="icon icon-download"></i>Download Excel template</a></div>
        </div>
        <div class="right">
          <div class="file-container banner-image">
            <i class="icon icon-upload"></i>Migrate from Excel
            <input type="file" (change)="fileChange($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="exhibitions">

    <div class="box" *ngIf="soloExh && soloExh.length > 0">
      <h4>Solo exhibitions</h4>

      <table class="editions-table">
        <thead>
        <tr>
          <th class="title">Title</th>
          <th class="gall">Gallery name or place of exhibition</th>
          <th>City</th>
          <th>Country</th>
          <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exhibition of soloExh; let i = index">
          <td>{{exhibition.title}}</td>
          <td>{{exhibition.place}}</td>
          <td>{{exhibition.location ? exhibition.location.split(',')[0] : ''}}</td>
          <td>{{exhibition.location ? exhibition.location.split(',')[1] : ''}}</td>
          <td>{{exhibition?.date.from | date:'yyyy'}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="box" *ngIf="groupExh && groupExh.length > 0">
      <h4>Group exhibitions</h4>

      <table class="editions-table">
        <thead>
        <tr>
          <th class="title">Title</th>
          <th class="gall">Gallery name or place of exhibition</th>
          <th>City</th>
          <th>Country</th>
          <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exhibition of groupExh; let i = index">
          <td>{{exhibition.title}}</td>
          <td>{{exhibition.place}}</td>
          <td>{{exhibition.location ? exhibition.location.split(',')[0] : ''}}</td>
          <td>{{exhibition.location ? exhibition.location.split(',')[1] : ''}}</td>
          <td>{{exhibition?.date.from | date:'yyyy'}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <nb-spinner *ngIf="showSnipper" [message]="''"></nb-spinner>
</div>